@import "style.css";

body {
    background-color: var(--bg-color);
    color: var(--text-color)
}

.main-container {
    color: rgb(var(--text-color));
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

main {
    margin: 20px auto;
    padding: 50px 10px;
    background-color: var(--main-blog-color);
    max-width: 1080px;
}

aside {
    background-color: var(--main-blog-color);
    padding: 50px 20px;
    margin: 20px 0;
}

aside li {
    color: #aaa8;
    padding: 2px 0;
}

aside a {
    color: rgba(var(--text-color), 40%);
    text-decoration: none;
}

aside a:hover {
    color: rgba(var(--text-color),50%);
}

address {
    grid-area: author;
    color: rgba(var(--text-color), 40%);
    margin: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-image {
    width: 40px;
    border-radius: 100%;
}

.date {
    text-align: center;
    grid-area: date;
    color: rgba(var(--text-color), 50%);
    margin: 15px;
}

@media screen and (max-width:1380px) {
    aside {
        width: 100vw;
        max-width: 1080px;
        padding: 0 10px;
    }

    .main-container {
        margin: 0 10px;
    }

    main{
        padding: 50px 10px;
    }
}