@import "style.css";

body {
	background-color: #335;
}

.main-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 10px;
}

main {
	margin: auto;
	box-shadow: 0 0 10px black;
	padding: 50px 30px;
	background-color: #223;
	max-width: 1080px;
}

aside {
	box-shadow: 0 0 10px black;
	background-color: #223;
	padding: 50px 30px;
}

aside a {
	color: gray;
}

.flex-container {
	justify-content: space-evenly;
	align-items: center;
	display: flex;
	flex-direction: column;
	grid-auto-flow: row;
	gap: 30px;
}

.article-brief {
	transition: background-color 100ms, filter 200ms;
	color: #fff;
	text-decoration: none;
	display: grid;
	filter: brightness(80%);
	align-items: center;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 2fr 1fr;
	border-left: solid #0006 20px;
	border-radius: 3px;
	grid-template-areas:
			"img img title title title title"
			"img img brief brief brief brief"
			"img img author author . date";
}
.article-brief:hover {
	background-color: #fff2;
	filter: brightness(100%);
}

.article-brief img {
	grid-area: img;
	width: 100%;
	height: 100%;
	object-fit: cover;
	mask-image: linear-gradient(90deg, black 70%, transparent 100%);
	-webkit-mask-image: linear-gradient(90deg, black 70%, transparent 100%);
}

.article-brief h2 {
	grid-area: title;
}

.article-brief p {
	align-self: flex-start;
	grid-area: brief;
	color: #fffc;
}

.article-brief address {
	grid-area: author;
	color: #fff6;
}

.article-brief .date {
	text-align: center;
	grid-area: date;
	color: #fff8;
}
@media screen and (max-width:1380px) {
	aside {
		width: 100vw;
		max-width: 1080px;
	}
}

@media screen and (max-width:768px) and (min-width:481px) {
	/*TODO: make tablet usalbe*/
}
@media screen and (max-width: 480px) {
	/*TODO: make mobile usalbe*/
}