@import "style.css";
@import "blogBase.css";

main {
    background-color: var(--main-blog-color);
    padding: 60px 30px;
}

.main-container{
    --bg-image: ""; /*gets updated by js*/
    background:
        linear-gradient(transparent -30%, var(--bg-color) min(40%, 200vw)),
        var(--bg-image) no-repeat top center fixed;
}

.head-image {
    width: 100%;
}

.content {
    white-space: break-spaces;
    max-width: 800px;
    margin: 50px auto;
    line-height: 1.3rem;
}

.back {
    border: 0;
    border-bottom: 1px solid var(--nav-color);
    background-color: transparent;
    cursor: pointer;
    color: var(--nav-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    margin: 10px;
}