@import url(style.css);

body {
    background-color: black;
}

.first {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1672197339033-688e27f884f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1311&q=80")
    no-repeat center center fixed;
}

.second {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1672318043025-66d0ff90e04c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80    ")
    no-repeat center center fixed;
}

.third {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1672404383601-437618e85eae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
    no-repeat center center fixed;
    justify-content: center;
    align-items: center;
}

.slide {
    width: 100%;
    height: 98vh;
    margin: 0 0 1vh 0;
    padding: 0;
    display: grid;
    background-size: cover;
}

.title {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: min(15vw , 30vh);
    color: white;
}

.sub-title {
    margin: 10px auto;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}
.centered{
    text-align: center;
}

.sub-title a {
    color: #00a800;
}

.grad-text {
    background: linear-gradient(30deg, #ffb922, #b91d73);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.article-list {
    display: grid;
    gap: 30px;
    width: 90vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.article-preview {
    color: white;
    flex-shrink: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.384);
    width: 40vw;
    height: 50vw;
    max-width: 320px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5em;
    border-radius: 1em;
}

.article-preview a {
    color: white;
    font-size: 1em;
    font-weight: lighter;
    text-decoration: none;
    background: linear-gradient(#c48b11, #ffb922);
    border: #c48b11 solid 2px;
    padding: 0.4em 0.1em;
    border-radius: 0.6em;
    align-self: flex-end;
}

.article-preview a:active {
    background: linear-gradient(#ffb922, #c48b11);
    border: #ffb922 solid 2px;
}

.article-preview p {
    color: rgb(163, 163, 163);
    overflow: hidden;
}

.article-preview > * {
    margin: 0;
}

@media  screen and (max-width: 480px) {
    .article-list {
        display: flex;
        gap: 30px;
        width: 90vw;
        overflow-x: scroll;
    }
    .article-preview {
        font-size: 0.9rem;
    }
}
