/*@import "light.css";*/

html {
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    /*border-bottom: 5px solid #b91d73;*/
    z-index: 10;
    /*position: fixed;*/
    background-color: var(--nav-color);
    box-shadow: 0 4px 10px #b91d73aa;
    width: 100%;
}

.nav-container {
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: inherit;
    margin: 0;
    width: 55%;
    max-width: 600px;
    flex-direction: row;
}

.nav-container a {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(var(--text-color));
    font-size: 1.2rem;
    text-decoration: none;
    background: linear-gradient(45deg, transparent 30%, #ffb92266 80%, #b91d73AA), 0 0;
    background-size: 500%;
    transition: background-position 0.4s;
    
}

.nav-container a:hover {
    background-position: 100% 100%;
}
.nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#logo {
    padding: 10px;
}

#ham-menu {
    display: none;
    padding: 10px;
}

#ham-menu-hidden {
    display: none;
}

.title {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: min(15vw , 30vh);
    color: white;
}

.sub-title {
    margin: 10px auto;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

@media  screen and (max-width: 480px) {
    .nav-container {
        display: none;
        background-color: rgba(75, 75, 75, 0.5);
        width: 100%;
        max-width: none;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #ham-menu {
        display: block;
    }

    #ham-menu-hidden:checked + .nav-container {
        display: flex;
    }

    .nav {
        flex-wrap: wrap;
    }

    .nav-container a {
        padding: 6px;
    }
}
